/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* Start your code below */
.page_body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    background-color: #D78E8A;
}

.a{
    text-decoration: none;
}

/* Top navigation */

.topnav {
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    padding: 25px 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: -2;
    margin-top: -82px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.logo-nav {
    color: #fff;
    font-weight: 600;
    margin-right: 24px;
    font-size: 28px;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.menu-items {
    display: flex;
}

.menu-items a {
    text-decoration: none;
    color: #fff;
    margin-right: 24px;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: flex;
}

.logo-nav:hover {
    opacity: 70%;
}

.menu-items a:hover {
    opacity: 70%;
}

.topnav a.active {
    text-decoration: underline;
}

.nav-button {
    margin-left: 10px;
    background-color: #D78E8A;
    border: 3px solid #fff;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 35px;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.nav-button:hover {
    background-color: #fff;
    color: #D78E8A;
}

/* Lower navigation */

.lownav {
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    margin-top: 82px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 14px;
    padding-bottom: 12px;
    overflow: hidden;
    display: flex;
    position: absolute;
    background-color: #fff;
    position: sticky;
    z-index: 1;
}

.lowitems {
    display: flex;
}

.lowitems a {
    text-decoration: none;
    color: #D78E8A;
    margin-right: 100px;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: flex;
}

.header{
    margin-bottom: 20px;
}

.newsfeed{
    width: 60%;
    height: 400px;
    background-color: white;
    padding-top: ;
    margin: 0 auto;
}

.test{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    
}


