/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* Start your code below */

.background{
    margin: 0 auto;
    width: 100%;
}


container{
    position: relative;
}


/*
.form_label{
    background-color: white;
    border-radius: 30%;
    height: 60%;
    width: 25%;
    
}
*/
.form_label_text{
    text-decoration: none;
    color: #E4B5C1;
    font-size: 200%;
    margin-left: 7%;
    text-shadow: 2px 2px 4px #E4B5C1;
}


/* LOGIN */
.main_content{
    text-align: center;
margin: 0 auto;
color: #0000FF;
font: normal 16px arial, sans-serif;
}

.name{
   margin: 5px 0px 0px 0px; 
    color: #9C7582;
}

.formclass{
    width: 80%;
    height: 50px;
    border-radius: 30%;
    background-color: #FAD7D6;
    
}

 input::placeholder{
    color: #9C7582;
     text-align: center;
     font-size: 150%;
}

.button{
     width: 80%;
    height: 70px;
    border-radius: 70%;
    background-color: #FAD7D6;
    
}

input[type=button]{
    color: #9C7582;
    font-size: 150%;
}


.loginform{
    top: 20%;
    position: absolute;
    left:7%;
    background-color: white;
    border-radius: 30%;
    height: 60%;
    width: 25%;
}

.h3{
    color:#9C7582;
    
}

















